#question {
    background-color: #242424;
    border-radius: 1rem;
    padding: 2rem;
    width: 500px;
  }
  
  #question p {
    margin-bottom: 1rem;

  }
  
  #question h2 {
    margin-bottom: 2rem;
    
  }
  
  #question button {
    border: 1px solid #000;
    margin: 1rem;
    color: #222
  }